name: advance_image_picker
description: Flutter plugin in pure Dart code for selecting/editing multiple images from the Android/iOS image library and taking new pictures with the camera in the same view.
version: 0.1.7+1
homepage: https://freemar.vn
repository: https://github.com/weta-vn/advance_image_picker

environment:
  sdk: '>=2.16.1 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  camera: ^0.9.7+1
  flutter:
    sdk: flutter
  flutter_native_image: ^0.0.6+1
  image: ^3.1.3
  image_cropper: ^2.0.0
  image_editor: ^1.0.2
  path_provider: ^2.0.10
  photo_manager: ^2.1.2
  photo_view: ^0.14.0

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  assets:
    - assets/icon/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
